[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.url{
  float: left;
  height: 25px;
  width: 95%;
  margin-right: 3%;
}

textarea {
  float: left;
  width: 100%;
  height: 200px;
  resize: none;
  overflow-y: scroll;
}

#btn_start{
  width: 25%;
  background: green;
  color: white;
  height: 30px;
}

#console{
  float: left;
  width: 100%;
  height: 40%;
  font-size: x-small;
  resize: none;
  border: black;
}

#crawledBox{
  float: left;
  width: 100%;
  height: 200px;
  font-size: x-small;
  border: black;
  overflow-y: scroll;
}

#logBox{
  float: left;
  width: 100%;
  height: 200px;
  font-size: x-small;
  border: black;
  overflow-y: scroll;
}

#crawl-component, #db-component{
  float: left;
  width: 100%;
  border: black;
  margin: 10px;
}

#buttonBox{
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  padding: 0px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.filterBox {
  width: 50%;
  float: left;
  text-align: center;
}

.error {
  color: red;

}
