<div>
  <!-- <h4> Crawled items in the Database</h4> -->

  <div id="db-component">
    <h4>Export the imported data as csv
      <div class="tooltip">
        <img src="qm.png" alt="Mountain View" style="width:17px;height:17px;">

        <span class="tooltiptext">
        <h6>
          This function exports all entries in the database as csv.
        </h6>
      </span>
      </div>
    </h4>

    <div id="buttonBox">
      <form action="http://localhost/csvexport.php" method="get">
        <button id="btn_start" type="submit">Export To CSV</button>
      </form>
    </div>
  </div>
</div>
